.navbar {
  background-color: #212529;
}

h1 {
  font-size: 32px;
  color: #ffffff;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-dark {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.col-lg-3 {
  font-family: "Trebuchet MS", sans-serif;
}
