.navbar {
  background-color: #212529;
}

h1 {
  font-size: 32px;
  font-weight: 501;
  font-family: FreeMono, monospace;

  color: #fefefe;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-dark {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.ml-5 {
  font-family: "Trebuchet MS", sans-serif;
}

html {
  background: white;
}
